<a href="https://colab.research.google.com/github/Yiting916/data_analysis/blob/main/05-03.LAB_Automobile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 完成後請寄到EMAIL : clement.class.02@gmail.com
* 信件主旨請設定為： 05-03.LAB_Automobile_學號_姓名  (例: "05-03.LAB_Automobile_00_陳仁政")
* 附件檔名請設定為： 05-03.LAB_Automobile_學號_姓名.ipynb (例: "05-03.LAB_Automobile_00_陳仁政.ipynb")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
data = pd.read_csv("/content/drive/MyDrive/YiTing/Learning/Python/資料分析技術/data/Automobile.csv")
data.head(10)

,symboling,Normalized-losses,make,Fuel-type,aspiration,Num-of-doors,Body-style,Drive-wheels,Engine-location,Wheel-base,...,Engine-size,Fuel-system,bore,stroke,Compression-ratio,horsepower,Peak-rpm,City-mpg,Highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

In [ ]:
#查看資料筆數跟欄位數目
data.shape

(205, 26)

In [ ]:
# 檢查資料欄位的型態，以及缺失狀況
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   Normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   Fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   Num-of-doors       203 non-null    object
 6   Body-style         205 non-null    object
 7   Drive-wheels       205 non-null    object
 8   Engine-location    205 non-null    object
 9   Wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  Curb-weight        205 non-null    int64
 14  Engine-type        205 non-null    object
 15  Num-of-cylinders   205 non-null    object
 16  Engine-size        205 non-null    int64
 17  Fuel-system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  Compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  Peak-rpm           203 non-null    float64
 23  City-mpg           205 non-null    int64
 24  Highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [ ]:
# 計算各欄位資料缺失狀況
data.isnull().sum()

symboling             0
Normalized-losses    41
make                  0
Fuel-type             0
aspiration            0
Num-of-doors          2
Body-style            0
Drive-wheels          0
Engine-location       0
Wheel-base            0
length                0
width                 0
height                0
Curb-weight           0
Engine-type           0
Num-of-cylinders      0
Engine-size           0
Fuel-system           0
bore                  4
stroke                4
Compression-ratio     0
horsepower            2
Peak-rpm              2
City-mpg              0
Highway-mpg           0
price                 4
dtype: int64

In [ ]:
# 查看一下資料的基本統計值
data.describe()

,symboling,Normalized-losses,Wheel-base,length,width,height,Curb-weight,Engine-size,bore,stroke,Compression-ratio,horsepower,Peak-rpm,City-mpg,Highway-mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [ ]:
# 那一個廠牌的車子數量最多？
# # method 1:
# data['make'].value_counts()
# method 2:
data.groupby('make').size().sort_values(ascending=False)

make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
dtype: int64

In [ ]:
# 練習題
# 哪一種車型(Body-style)的數量最多？
data.groupby(['make','Body-style']).size().sort_values(ascending=False)

make           Body-style
toyota         hatchback      14
               sedan          10
mazda          hatchback      10
nissan         sedan           9
mitsubishi     hatchback       9
volkswagen     sedan           9
bmw            sedan           8
volvo          sedan           8
honda          hatchback       7
peugot         sedan           7
mazda          sedan           7
dodge          hatchback       5
audi           sedan           5
honda          sedan           5
nissan         hatchback       5
subaru         sedan           5
mitsubishi     sedan           4
plymouth       hatchback       4
peugot         wagon           4
mercedes-benz  sedan           4
subaru         wagon           4
toyota         wagon           4
saab           hatchback       3
               sedan           3
subaru         hatchback       3
toyota         hardtop         3
nissan         wagon           3
volvo          wagon           3
isuzu          sedan           3
dodge          sedan           3
jaguar         sedan           3
porsche        hardtop         2
chevrolet      hatchback       2
porsche        hatchback       2
alfa-romero    convertible     2
plymouth       sedan           2
mercedes-benz  hardtop         2
porsche        convertible     1
mercedes-benz  wagon           1
audi           hatchback       1
volkswagen     wagon           1
audi           wagon           1
volkswagen     hatchback       1
               convertible     1
mercury        hatchback       1
chevrolet      sedan           1
toyota         convertible     1
dodge          wagon           1
plymouth       wagon           1
honda          wagon           1
isuzu          hatchback       1
nissan         hardtop         1
mercedes-benz  convertible     1
renault        wagon           1
               hatchback       1
alfa-romero    hatchback       1
dtype: int64

# Label vs Number

In [ ]:
# 畫出不同燃油型態Fuel-type的價格分布

In [ ]:
# 找出引擎位置(Body-style)跟引擎大小(Engine-size)之間有沒有關係？

In [ ]:
# 練習題
# 找出廠牌跟價格之間有沒有關係？

In [ ]:
# 練習題
# 找出Engine-type跟horsepower之間有沒有關係？

# Number vs Number

In [ ]:
# 找出引擎大小(Engine-size)跟馬力(horsepower)之間有沒有關係？

In [ ]:
# 計算引擎大小(Engine-size)跟馬力(horsepower)之間相關性係數

In [ ]:
# 練習題
# 找出價格跟馬力之間有沒有關係？

In [ ]:
# 練習題
# 找出價格跟車長之間有沒有關係？

# Label vs Label

In [ ]:
# 找出Body-style跟Num-of-doors的關係

In [ ]:
# 計算Body-style跟Num-of-doors的計數矩陣

In [ ]:
# 畫出上個表格的熱圖

In [ ]:
# 練習題
# 找出Body-style跟廠牌的關係

# Group By

In [ ]:
# 計算不同廠牌汽車的平均價格，並畫出來

In [ ]:
# 練習題
# 修改上圖將平均價格由高到低排序

In [ ]:
# 練習題
# 計算不同車型的平均馬力

In [ ]:
# 練習題
# 找出車長與車種之間是否有關係？

In [ ]:
# 練習題
# 找出不同車廠對於生產車子Body-style是否有偏好？

In [ ]:
# 練習題
# 找出Body-style是否會影響車價？

In [ ]:
# 練習題
# 找出最高時數跟馬力之間是否有關係？

In [ ]:
# 練習題
# 根據 車廠與車型(Body-style)的不同，計算各個組合的平均價格